<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Confirmación de Correo Electrónico</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<style>
			body {
				padding-top:50px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<% if (isValid) { %>
					<h1>Works! <%= isValid %> </h1>
				<% } else { %>
					<h1>No Works! <%= isValid %> <%= type %> </h1>
				<% } %>
			</div>
		</div>
	</body>
</html>